$textColor: #1E1E1E;
$accentColor: #1391B2;

$failureColor: #DF145D;
$successColor: #57FF86;


$grey: #7E7E7E;
$lightgrey: #eee;
$green: #57FF86;
$black: #1E1E1E;
$red: #DF145D;
$blue: #1391B2;

$transitionDefault: .64s ease all;